body {background-color: rgb(210, 228, 235);}
hr{ width:5%;border-width:5px; border-color:rgb(137, 212, 231);border-style:none;height: 10px;border-top-style:dotted;}
h1{color: aqua;}
h2{color: aqua;}